# Ignore these directories
Sports_Betting_Policy_Dashboard/
notes/
*Analysis_Final_Report*.pdf

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Jupyter Notebook
.ipynb_checkpoints

# Environment
.env
.venv
env/
venv/
ENV/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Cache
*.cache

# Compiled files
*.com
*.class
*.dll
*.exe
*.o
*.so

# Logs
*.log
